/* &display=swap */
@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  color: #424551;
  line-height: 1.5;
}
.header {
  background: hsla(0, 0%, 100%, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0;
  width: 100%;
  z-index: 50;
}
.header__logo {
  max-width: 130px;
}
.header__container {
  display: grid;
  grid-template-columns: 130px 1fr auto;
  align-items: center;
  column-gap: 60px;
}
@media (max-width: 982px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media (max-width: 1040px) {
  .header__container {
    column-gap: 30px;
  }
}
@media (max-width: 920px) {
  .header__container {
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
  }
}
@media (max-width: 430px) {
  .header__container {
    display: block;
  }
}
/* ============================================================= */

.navy__list {
  display: inline-grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 40px;
  row-gap: 10px;
}
.navy__link {
  font-weight: 700;
}
@media (any-hover: hover) {
  .navy__link:hover {
    color: #ff3f3a;
  }
}
.buttons__btn--register {
  display: inline-grid;
  grid-template-columns: 20px 1fr;
  gap: 8px;
  align-items: center;
  background: transparent;
  color: #424551;
}
@media (any-hover: hover) {
  .buttons__btn--register:hover {
    text-decoration: underline;
  }
}
.buttons__btn--register::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/icons/person.svg) 0 0 no-repeat;
}
.grid-menu__buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 36px;
  align-items: center;
}
@media (max-width: 1099.98px) {
  .navy__list {
    column-gap: 20px;
    grid-template-columns: repeat(5, auto);
  }
}
@media (max-width: 430px) {
  .navy__list {
    display: block;
    padding: 15px 0;
  }
  .navy__item:not(:last-child) {
    margin-bottom: 8px;
  }
  .grid-menu__buttons {
    display: none;
  }
}
/* ========================================================== */

.page__main {
  position: relative;
  background: linear-gradient(
    55.95deg,
    rgba(255, 64, 58, 0.2) 0%,
    rgba(247, 94, 5, 0.2) 100%
  );
  padding: 200px 0 0 0;
  z-index: 10;
}
.page__container {
  position: relative;
  z-index: 50;
}
.page__promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 10;
  padding-bottom: 190px;
}
.page__image {
  padding-left: 15px;
}
.page__image img {
  max-width: 107.8%;
  transform: translateX(7.8%, 0);
}
.page__title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 64px;
  max-width: 496px;
}
.page__title:not(:last-child) {
  margin-bottom: 60px;
}
.button--color:not(:last-child) {
  margin-right: 24px;
}
.main-page__play {
  display: inline-grid;
  grid-template-columns: 52px auto;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
}
@media (any-hover: hover){
	.main-page__play :hover{
		text-decoration: underline;
	}
}
.main-page__play:not(:last-child) {
  margin-bottom: 24px;
}
.main-page__play span {
  margin-left: 16px;
}
.main-page__play::before {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: url(../image/icons/polygon.svg) center no-repeat, #ff3f3a;
}
.main-page__play::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #ff3f3a;
  opacity: 0.12;
  transform: scale(1.6);
  animation: play 1.3s infinite ease;
}
@keyframes play {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.7);
    opacity: 0;
  }
}
.page__experiants {
  display: grid;
  grid-template-columns: repeat(7, auto);
  column-gap: 66px;
  align-items: center;
  padding-bottom: 80px;
}
.experiants__block {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 12px;
}
.experiants__block span {
  padding: 17px 0;
  color: #1e212c;
}
.experiants__circle {
  width: 8px;
  height: 8px;
  background: #ff3f3a;
  border-radius: 50%;
}
@media (max-width: 1024px) {
  .page__experiants {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
  .experiants__circle {
    display: none;
  }
}
@media (max-width: 920px) {
  .page__promo {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .page__image {
    display: block;
  }
  .page__image img {
    max-width: 100%;
  }
  .page__title {
    max-width: 880px;
    font-size: 50px;
    text-align: center;
  }
  .page__buttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .page__content {
    padding-bottom: 50px;
  }
  .page__experiants {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    justify-content: center;
    row-gap: 15px;
    padding-bottom: 40px;
  }
}
@media (max-width: 571px) {
  .page__experiants {
    grid-template-columns: auto;
    row-gap: 8px;
  }
}
@media (max-width: 430px) {
  .page__experiants {
    display: none;
  }
  .page__title {
    font-size: 40px;
  }
  .main-page__play {
    display: none;
  }
  .page__promo {
    padding: 70px 0 60px 0;
  }
}
@media (max-width: 410px) {
  .page__buttons {
    display: none;
  }
}
/* =================decor==================== */
.page__decor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 430px) {
  .page__decor {
    display: none;
  }
}
.decor__item {
  position: absolute;
  opacity: 0.4;
}
.decor__item--1 {
  width: 96px;
  height: 96px;
  background: url(../image/design/1.svg) 0 0 no-repeat;
  top: 12%;
  left: 4%;
}
.decor__item--2 {
  width: 284px;
  height: 284px;
  background: url(../image/design/2.svg) 0 0 no-repeat;
  top: 86%;
  left: -8%;
  opacity: 0.2;
}
.decor__item--3 {
  width: 88px;
  height: 47px;
  background: url(../image/design/3.svg) 0 0 no-repeat;
  top: 45%;
  left: 41%;
}
.decor__item--4 {
  width: 61px;
  height: 61px;
  background: url(../image/design/4.svg) 0 0 no-repeat;
  top: 70%;
  left: 38%;
}
.decor__item--5 {
  width: 187px;
  height: 137px;
  background: url(../image/design/5.svg) 0 0 no-repeat;
  top: 69%;
  right: -1.6%;
  opacity: 0.8;
}
.decor__item--6 {
  width: 110px;
  height: 110px;
  background: url(../image/design/1.svg) 0 0 no-repeat;
  top: -4.2%;
  right: 5%;
  transform: rotate(135deg);
}

/* =====================section who-we-are======================== */

.who-we-are {
  padding: 180px 0;
  position: relative;
}
.who-we-are__container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.who-we-are__content {
  padding-left: 15px;
}
.who-we-are__image img {
	max-width: 100%;
}
.who-we-are__titles:not(:last-child) {
  margin-bottom: 40px;
}
.who-we-are__check:not(:last-child) {
  margin-bottom: 48px;
}
.decor-who-we-are {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.decor-who-we-are__item {
  position: absolute;
}
.decor-who-we-are__item--1 {
  width: 181.18px;
  height: 133px;
  background: url(../image/design/7.svg) 0 0 no-repeat;
  top: 26%;
  left: 0;
}
.decor-who-we-are__item--2 {
  width: 287px;
  height: 287px;
  background: url(../image/design/8.svg) 0 0 no-repeat;
  bottom: 21.3%;
  right: -8.6%;
  opacity: 0.12;
}
@media (max-width: 912px) {
  .who-we-are {
    padding: 70px 0;
  }
  .who-we-are__container {
    grid-template-columns: 1fr;
    row-gap: 20px;
    justify-items: center;
  }
 
}
@media (max-width: 425px) {
  .decor-who-we-are {
    display: none;
  }
  .who-we-are__image {
    display: none;
  }
}
/* =============================== */
.ready-to-learn {
  padding-bottom: 180px;
}
.ready-to-learn__head {
  display: flex;
  justify-content: space-between;
}
.ready-to-learn__head:not(:last-child) {
  margin-bottom: 60px;
}
.ready-to-learn__button {
  align-self: flex-end;
}

.block-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
}
@media (max-width: 1140px) {
  .block-cards {
    gap: 15px;
  }
}
@media (max-width: 920px){
	  .block-cards{
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
		gap: 30px;
	  }
}
@media (max-width: 680px){
	.ready-to-learn__button{
		display: none;
	}
}